stages:
  - test
variables:
  PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit
# ===== PRE-COMMIT =====
pre-commit:
  image: python:3.14
  stage: test
  script:
    - pip install --upgrade pip
    - pip install pre-commit --break-system-packages
    - pre-commit run --all-files
  cache:
    key: pre-commit-cache
    paths:
      - ${PRE_COMMIT_HOME}
# ===== TEST =====
test:
  image: python:3.14
  stage: test
  script:
    - pip install --upgrade pip
    - pip install .[test] --upgrade
    - pytest tests
