stages:
  - pre-commit
  - test
variables:
  UV_VERSION: "0.9.24"
  PYTHON_VERSION: "3.13"
  BASE_LAYER: bookworm-slim
  UV_LINK_MODE: copy
  UV_SYSTEM_PYTHON: 1
  UV_CACHE_DIR: ${CI_PROJECT_DIR}/.cache/uv
  PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit

# ===== PRE-COMMIT =====
pre-commit:
  image: python:$PYTHON_VERSION
  stage: pre-commit
  only:
    refs:
      - main
      - dev
  script:
    - pip install --upgrade pip
    - pip install pre-commit --break-system-packages
    - pre-commit run --all-files
  cache:
    key: pre-commit-cache
    paths:
      - ${PRE_COMMIT_HOME}

# ===== TEST =====
test:
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  stage: test
  cache:
    - key:
        files:
          - pyproject.toml
      paths:
        - $UV_CACHE_DIR
  script:
    - uv sync --extra test --dev
    - uv run pytest tests
    - uv cache prune --ci

# ===== NOTEBOOKS =====
notebooks:
  image: ghcr.io/astral-sh/uv:$UV_VERSION-python$PYTHON_VERSION-$BASE_LAYER
  stage: test
  cache:
    - key:
        files:
          - pyproject.toml
      paths:
        - $UV_CACHE_DIR
  script:
    - uv sync --extra test --dev
    - uv run pytest --nbmake notebooks
    - uv cache prune --ci
