image: python:3.14
before_script:
  - pip install --upgrade pip
stages:
  - pre-commit
  - test
variables:
  PRE_COMMIT_HOME: ${CI_PROJECT_DIR}/.cache/pre-commit

# ===== PRE-COMMIT =====
pre-commit:
  stage: pre-commit
  only:
    refs:
      - main
      - dev
  script:
    - pip install --upgrade pip
    - pip install pre-commit --break-system-packages
    - pre-commit run --all-files
  cache:
    key: pre-commit-cache
    paths:
      - ${PRE_COMMIT_HOME}

# ===== TEST =====
test:
  stage: test
  script:
    - pip install --upgrade pip
    - pip install .[test] --upgrade
    - pytest tests
