include Logo_FOXES.svg
include foxes/VERSION
include foxes/data/power_ct_curves/*.csv
include foxes/data/states/*.csv
include foxes/data/states/*.csv.gz
include foxes/data/states/*.nc
include foxes/data/states/*.tab
include foxes/data/farms/*.csv
include foxes/data/windio/*.yaml
