# pyproject.toml file specified at the root of the directory

[build-system]
requires = ["setuptools>=61.0", "wheel"]
build-backend = "setuptools.build_meta"

[project]
name = "foxes"
version = "1.2.5"
authors = [
  {name = "Jonas Schulte"},
]
maintainers = [
  {name = "Jonas Schulte"}
]
description = "Farm Optimization and eXtended yield Evaluation Software"
readme = "README.md"
license = {file = "LICENSE"}
keywords = ["Wind farm", "Wake modelling", "Wind farm optimization"]
classifiers = [
    "Topic :: Scientific/Engineering",
    "Intended Audience :: Developers",
    "Intended Audience :: Science/Research",
    "Programming Language :: Python :: 3",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.12",
    "Programming Language :: Python :: 3.13",
    "License :: OSI Approved :: MIT License",
    "Operating System :: OS Independent",
    "Development Status :: 4 - Beta",
]
requires-python = ">=3.8"
dependencies = [
    "matplotlib",
    "numpy",
    "pandas",
    "xarray",
    "scipy",
    "cycler",
    "tqdm",
    "pyyaml"
]

[project.optional-dependencies]
opt = [
    "foxes-opt"
]
dask = [
    "h5netcdf",
    "dask",
    "distributed",
    "dask-jobqueue",
    "setuptools",
]
eng = [
    "h5netcdf",
    "multiprocess",
    "dask",
    "distributed",
    "dask-jobqueue",
    "setuptools",
    "mpi4py",
    "ray",
]
eng0 = [
    "h5netcdf",
    "multiprocess",
    "dask",
    "distributed",
    "dask-jobqueue",
    "setuptools",
    "ray",
]
test = [
    "flake8", 
    "pytest",
    "h5netcdf",
]
doc = [
    "setuptools",
    "sphinx",
    "sphinx-immaterial",
    "nbsphinx",
    "ipykernel",
    "ipywidgets",
    "m2r2",
    "lxml_html_clean",
    "dask",
    "distributed",
]
dev = [
    "flake8",
    "pytest",
    "jupyter",
    "objsize",
    "black[jupyter]",
]

[project.urls]
Homepage = "https://github.com/FraunhoferIWES/foxes"
Documentation = "https://fraunhoferiwes.github.io/foxes.docs/index.html"
Repository = "https://github.com/FraunhoferIWES/foxes.git"
"Bug Tracker" = "https://github.com/FraunhoferIWES/foxes/issues"
Changelog = "https://github.com/FraunhoferIWES/foxes/blob/main/CHANGELOG.md"

[tool.setuptools.packages.find]
exclude = ["notebooks", "examples", "tests", "docs"]

[project.scripts]
foxes_yaml = "foxes.input.yaml.yaml:foxes_yaml"
foxes_windio = "foxes.input.yaml.windio.windio:foxes_windio"
