furo==2021.11.16
matplotlib>=3.8
numpy>=1.26
pandas>=2.0
scipy>=1.12
xarray>=2023
netcdf4>=1.0
pyyaml>=4.0
tqdm>=2.0
utm>=0.5
setuptools>=61.0
sphinx>=5.0
sphinx-immaterial>=0.10
myst-nb>=0.1
ipykernel>=5.0
ipywidgets>=5.0
m2r2>=0.2
lxml_html_clean>=0.4
dask>=2022.0
distributed>=2022.0
